.container {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 50px;
}

.top {
    display: flex;
}

.bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.bottomRight {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.display {
    text-align: right;
    width: 350px;
    border: 2px solid gray;
    font-family: 'Orbitron';
}

button {
    width: 87.5px;
    background-color: gainsboro;
    font-size: 50px;
}

#borrar {
    background-color: crimson;
}

#igualdad {
    background-color: gray;
}

#positivo {
    background-color: cornflowerblue;
}

#negativo {
    background-color: greenyellow;
}